@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */

}


/* navbar css end */
.home {
    width: 100%;
    height: 100vh;
    /* background-image: url(nasa.jpg); */
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home::before {
    content: "";
    position: absolute;
    background-image: url(nasa.jpg);
    filter: brightness(72%);
    left: 0px;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.main-heading h1 {
    color: #ffffff;
    font-size: 5rem;
    letter-spacing: 5px;
}

#main-para2 {
    color: #ffffff;
    letter-spacing: 2px;
    text-align: center;
    font-size: 2rem;
    filter: brightness(90%);
}

@media((min-width:715px) and (max-width:1023px)) {
    .main-heading h1 {
        font-size: 4rem;
        text-align: center;
    }

    #main-para2 {
        font-size: 1.8rem;
    }
}

@media((min-width:550px) and (max-width:715px)) {
    .main-heading h1 {
        font-size: 3rem;
        text-align: center;
    }

    #main-para2 {
        font-size: 1.5rem;
    }
}

@media((min-width:300px) and (max-width:550px)) {
    .main-heading h1 {
        font-size: 2rem;
        text-align: center;
    }

    #main-para2 {
        font-size: 1.2rem;
    }
}

@media((max-width:550px)) {
    .main-heading h1 {
        font-size: 2rem;
        text-align: center;
    }

    #main-para2 {
        display: none;
    }
}


/* there are gallery images wrapped here */
.grid-container {
    padding: 48px 24px;
    /* height: 80vh; */
}

.inner {
    display: flex;
    flex-direction: column;
    /* padding: 0 32px; */
    /* imp*/
    /* margin: 56px; */
}

.explore-text-wrapper {
    display: flex;
    margin: 2rem 0;
    align-items: center;
    justify-content: center;
}

.explore-text {
    /* margin-bottom: 1.5rem; */
    display: flex;
    align-items: center;
    /* float: left; */
}

.more-pages-here {
    /* float: right; */
    margin-left: auto;
    font-size: 1.4rem;
}


.image-grid {
    --gap: 16px;
    --num-cols: 4;
    --row-height: 190px;

    box-sizing: border-box;
    /* padding: var(--gap); */

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.image-grid>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* padding: 24px; */
}

.image-grid-col-2 {
    grid-column: span 2;
}

.image-grid-row-2 {
    grid-row: span 2;
}
.exp-cont{
    background-image: url("./andruyan.jpg");
    background-position: center;
    background-size:cover;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    gap: 140px;
}
.ig-article{
    padding: 10px 0;
    padding-left: 30px;
    color: #fdfdfd;
    font-size: 1.2rem;
    margin: 30px 0 ;
    /* background-color: #e91e63; */
}
@media (max-width: 1024px) {
    .image-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    /* this is for explore text up and more page down */
    .explore-text-wrapper {
        display: block;
    }

    /* .more-pages-here {
        margin-right: auto;
    } */
}

@media (max-width: 640px) {
    .image-grid-res {
        grid-column: span 2;
    }
}
@media (max-width: 640px){
    .ig-article{
        font-size: 1rem;
    }
}


/* here we start  the pic of the day */

.picOfDay {
    display: flex;
    /* height: 80vh; */
    width: 100%;
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    padding: 4rem 3rem;
    background-color: #f2f2f2;
}

.picOfDay-text {
    max-width: 50%;
    padding: 0rem 3rem;
}

.picOfDay-text-heading {
    font-size: 3rem;
    padding: 2rem 0;
    line-height: 50px;
}

.Image-picOfDay-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #e1e1e1;
}

.Image-picOfDay {
    max-height: 430px;
    width: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 1024px) {

    /* Adjust styles for smaller screens */
    .picOfDay-text {
        max-width: 100%;
        padding: 0 0;
    }

    .picOfDay {
        flex-direction: column;
    }

    .Image-picOfDay {
        height: auto;
        width: 100%;
    }
    .picOfDay-text-heading{
        padding: 1.5rem 0;
    }
    .Image-picOfDay-container {
        padding: 3rem 0;
        background:#efefef;
    }

}
@media only screen and (max-width: 642px){
    .picOfDay{
        display: flex;
        flex-direction: column;
    }
    .picOfDay-text {
        width: 100%;
        order: 3;
        padding: 0;
    }
    .Image-picOfDay-container {
        padding: 2rem 0;
        margin: 0;
        order: 1;
    }
    .picOfDay-text-heading {
        font-size: 2rem;
        padding: 1rem 0;
        line-height: 2rem;
    }

}

/* here end of the pic of the day */

/* start of full screen size pic earthinfo which contains may be info of img */
.earthInformation {
    /* height: 100vh; */
    position: relative;
}

.earthinfoImage {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.499)), linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.731)),linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.499)),
    url(./scifi-4916165_1280.webp);
    /* filter: brightness(40%); */
    background-position: center;
    background-size: cover;

}

.earthInformation .earthInfoHeading {
    color: rgb(255, 255, 255);
    font-size: 4rem;
    line-height: 80px;
    max-width: 1vw;
}

.earthInformation .earthpara {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    /* width: 550px; */
}

.earth-button {
    display: flex;
    color: white;
    background-color: rgb(173, 92, 57);
    padding: 5px;
    width: 200px;
    box-shadow: 0px 0px 90px orange;
    border: 1px solid rgb(203, 143, 33);
    font-size: 1rem;
}
@media (max-width:600px){
    .earth-button{
        width: 50vw;
    }
}
.earth-button span{
    margin-left: 15px;
}
.earthInformation .earthinfo-inner{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3rem;
    gap: 30px;
    /* gap: 30px; */
}

@media screen and (max-width: 1024px) {
    /* Adjust styles for smaller screens */
    .earthInformation .earthInfoHeading {
        font-size: 3.5rem;
        line-height: 60px;
    }

    .earthInformation .earth-button {
        font-size: 18px;
    }

    .earthInformation .earthpara {
        font-size: 18px;
    }
}

@media screen and (max-width: 600px) {
    /* Adjust styles for smaller screens */

    .earthInformation .earthInfoHeading {
        font-size: 8vw;
        line-height: 8vh;
    }
    .earthInformation .earth-button {
        font-size: 14px;
    }

    .earthInformation .earthpara {
        font-size: 16px;
    }
}

/* end of earthinfo */

/* there are gallery images wrapped here */
.gallery-wrapped {
    display: grid;
    /* grid-template-columns: ; */
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.explore-image1 {
    grid-column: 1/3;
}

/* last gif meme */
.meme {
    background-image: url("./bear\ dancing\ meme\ gif.gif");
    background-position: center;
    height: 50vh;
    background-repeat: no-repeat;

}