@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */

}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

/* #stellar-nursery-logo {
    height: 55px;
    filter: invert(100%);
  } */
#stellar-logo {
    font-size: large;
    font-weight: 800;
    letter-spacing: 3px;
}

#nursery-logo {
    font: weight;
    letter-spacing: 1px;
    margin-left: 5px;
}

.navbar {
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(31, 31, 31);
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0px;
}

.nav-link {
    font-size: 14px;
    margin-left: 10px;
    padding-left: 5px;
    letter-spacing: 0.3px;
}

/* .nav-link:hover {
    color: rgb(238, 255, 124);
} */

.container-toggle-btn {
    display: none;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 20px;
    height: 3px;
    background-color: #ffffff;
    margin: 4px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 8px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -6px) rotate(45deg);
}

.navbar .signup {
    border: 1px solid rgb(101, 101, 101);
    border-radius: 20px;
    padding: 10px 20px;
    position: relative;
    top: 0;
    left: 40px;
    background-color: rgb(54, 54, 54);
    /* font-weight: 600; */
    letter-spacing: 1px;
}

.navbar .signin {
    /* border: 1px solid white; */
    border-radius: 20px;
    padding: 10px;
    padding-left: 35px;
    background-color: rgb(49, 49, 49);
    /* color: black; */
    font-weight: 500;
}

.navbar .signin:hover {
    background-color: rgb(42, 42, 42);
    color: rgb(192, 192, 192);

}

.navbar .signup:hover {
    background-color: rgb(43, 43, 43);
    border: 1px solid rgb(101, 101, 101);
    color: rgb(192, 192, 192);

}

@media (max-width:768px) {
    .container-toggle-btn {
        display: block;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
        width: 100%;
        /* height: 100vh; */
        text-align: center;
        transition: 0.3s;
        z-index: 1;
    }

    .nav-item {
        margin: 16px 0;
        /* margin-left: 190px; */
    }

    .nav-link {
        padding: 8px;

    }

    .nav-menu.active {
        /* there is special case btw  .nav-menu  .active and  .nav-menu.active */
        left: 0%;
    }

    #stellar-nursery-logo {
        height: 50px;
    }

    .navbar .nav-menu .nav-item .signin {
        width: 600px;
        background-color: rgb(105, 20, 145);
        padding: 8px 140px;
        border-radius: 10px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;

    }

    .navbar .nav-menu .nav-item .signup {
        left: 0;
        border: 2px solid rgb(102, 32, 171);
        border-radius: 10px;
        padding: 8px 130px;
        background-color: rgb(0, 0, 0);

    }

}


/* navbar css end */
.home {
    width: 100%;
    height: 80vh;
    /* background-image: url(nasa.jpg); */
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home::before {
    content: "";
    position: absolute;
    background-image: url(nasa.jpg);
    filter: brightness(72%);
    left: 0px;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 80vh;
    z-index: -1;
}

.main-heading h1 {
    color: #ffffff;
    font-size: 5rem;
    letter-spacing: 5px;
}

#main-para2 {
    color: #ffffff;
    letter-spacing: 2px;
    text-align: center;
    font-size: 2rem;
    filter: brightness(90%);
}

@media((min-width:715px) and (max-width:900px)) {
    .main-heading h1 {
        font-size: 4rem;
    }

    #main-para2 {
        font-size: 1.8rem;
    }
}

@media((min-width:550px) and (max-width:715px)) {
    .main-heading h1 {
        font-size: 3rem;
    }

    #main-para2 {
        font-size: 1.5rem;
    }
}

@media((min-width:300px) and (max-width:550px)) {
    .main-heading h1 {
        font-size: 2rem;
    }

    #main-para2 {
        font-size: 1.2rem;
    }
}

@media((max-width:550px)) {
    .main-heading h1 {
        font-size: 2rem;
        text-align: center;
    }

    #main-para2 {
        display: none;
    }
}


/* there are gallery images wrapped here */
.grid-container {
    padding: 48px 24px;
    height: 80vh;
}

.inner {
    display: flex;
    flex-direction: column;
    /* padding: 0 32px; */
    /* imp*/
    /* margin: 56px; */
}

.explore-text-wrapper {
    display: flex;
    margin: 2rem 0;
    align-items: center;
    justify-content: center;
}

.explore-text {
    margin-bottom: 1.5rem;
    /* float: left; */
}

.more-pages-here {
    /* float: right; */
    margin-left: auto;
    font-size: 1.4rem;
}


.image-grid {
    --gap: 16px;
    --num-cols: 4;
    --row-height: 190px;

    box-sizing: border-box;
    /* padding: var(--gap); */

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.image-grid>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* padding: 24px; */
}

.image-grid-col-2 {
    grid-column: span 2;
}

.image-grid-row-2 {
    grid-row: span 2;
}

@media (max-width: 1024px) {
    .image-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    /* this is for explore text up and more page down */
    .explore-text-wrapper {
        display: block;
    }

    /* .more-pages-here {
        margin-right: auto;
    } */
}

@media (max-width: 640px) {
    .image-grid-res {
        grid-column: span 2;
    }
}


/* here we start  the pic of the day */

.picOfDay {
    display: flex;
    height: 80vh;
    width: 100%;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    padding: 72px 24px;
    position: relative;
}
@media (min-width: 1025px) {
    .picOfDay{
        margin-top:100px;
    }
}

.picOfDay-text {
    width: 40%;
    padding: 0 40px 0 0;
    margin: auto;
}

.picOfDay-text-heading {
    font-size: 2.9rem;
    margin: 20px 0px;
    line-height: 50px;
}

.Image-picOfDay-container {
    padding: 0 0 0 40px;
    margin: auto;
}

.Image-picOfDay {
    /* height: auto; */
    max-height: 350px;
    /* Set a maximum height if needed */
    width: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 1024px) {

    /* Adjust styles for smaller screens */
    .picOfDay-text {
        width: 100%;
        margin-top: 30rem;
        /* text-align: center; */
    }

    .picOfDay {
        flex-direction: column;
        /* height:100vh; */
        /* flex-wrap: wrap; */

    }

    .Image-picOfDay {
        height: auto;
        width: 100%;
    }

    .Image-picOfDay-container {
        padding: 2rem;

    }

    .picOfDay-text-heading {
        margin-bottom: 40px;
    }

}
@media only screen and (max-width: 642px){
    .picOfDay-text {
        width: 100%;
        margin-top: 55rem;
    }
    .Image-picOfDay-container {
        padding: 2rem 0 0 0;
        margin: 0;
    }
}

/* here end of the pic of the day */

/* footer css */
body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;

}

.container {
    max-width: 100%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 80px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    /* color: #ffffff; */
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 5px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(31, 31, 31);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

#footer-followus {
    margin-top: 30px;
}

/*responsive*/
@media(max-width: 600px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

/* there are gallery images wrapped here */
.gallery-wrapped {
    display: grid;
    /* grid-template-columns: ; */
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.explore-image1 {
    grid-column: 1/3;
}